img {
	margin: 3px;
	width: 97%;
	box-shadow: 0 0 9px #222;
	border-radius: 1px;
}

.galeryBlock {
	display: flex;
	padding-top: 10px;
}

.stolb {
	display: block;
	width: 33%;
	/*border-right: 1px solid #444;*/
}

