.sbornikBlock {
	position: relative;
	margin: 40px 100px;
	z-index: 10;
	width: auto;
}

.tableBlock {
	margin-bottom: 60px;
	/*z-index: 10;*/
}

.trFraza {
	padding-top: 10px;
}

.man {
	width: 100px;
	color: #999;
}

.fraza {
	width: 600px;
}

.constBlock {
	position: fixed;
	width: 75%;
	z-index: 5;
	transform: translateX(-20%);
	left: 50%;
}

.text {
	margin-bottom: 10px;
}

@media (max-width: 1200px) {

	.sbornikBlock {
		margin: 40px 40px;
	}

	.tableBlock {
		margin-bottom: 45px;
	}

	.fraza {
		width: 380px;
	}

	.constBlock {
		transform: translate(-50%, -50%);
		left: 70%;
		top: 50%;
		width: 100%;
		opacity: 0.4;
	}
}

@media (max-width: 750px) {

	.sbornikBlock {
		margin: 40px 40px;
	}

	.tableBlock {
		margin-bottom: 40px;
	}

	.constBlock {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		width: 150%;
		opacity: 0.3;
	}
}

@media (max-width: 550px) {

	.sbornikBlock {
		margin: 40px 40px;
	}

	.tableBlock {
		margin-bottom: 35px;
	}

	.constBlock {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		width: 150%;
		opacity: 0.3;
	}
}