.sbornikBlock {
	position: relative;
	margin: 40px 100px;
	z-index: 10;
	width: auto;
}

.tableBlock {
	margin-bottom: 60px;
}

.trFraza {
	padding-top: 10px;
}

.man {
	width: 100px;
	color: #999;
}

.fraza {
	width: 600px;
}

.constBlock {
	position: fixed;
	width: 1500px;
	z-index: 0;
	transform: translate(250px, -50%);
	right: 0;
	top: 50%;
}

.text {
	margin-bottom: 10px;
}

@media (max-width: 1500px) {
	.constBlock {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		width: 100%;
		opacity: 0.25;
	}
}

@media (max-width: 850px) {

	.sbornikBlock {
		margin: 40px 40px;
	}

	.tableBlock {
		margin-bottom: 40px;
	}

	.constBlock {
		width: 150%;
		opacity: 0.3;
	}
}

@media (max-width: 550px) {

	.sbornikBlock {
		margin: 40px 40px;
	}

	.tableBlock {
		margin-bottom: 35px;
	}

	.constBlock {
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;
		width: 150%;
		opacity: 0.3;
	}
}