body {
	margin: 0;
	background-color: #000;
	font-family: 'Russo One', Calibri;
	color: #fff;
	font-size: 21px;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}

a:hover {
	color: #f00;
}

button {
	padding: 13px 20px;
	border: 3px solid #f00;
	background-color: #000;
	border-radius: 10px;
	color: #fff;
	font-family: 'Russo One', Calibri;
	font-size: 15px;
	margin: 40px 0;
	text-transform: uppercase;
}

button:hover {
	background-color: #f00;
}



	.centerContainer {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
	}

	.container {
		width: 100%;
		border-bottom: 1px solid #333;
	}

    .active {
		color: #f00;
	}

	.head {
		width: 100%;
		padding: 25px 0;
		background-color: #000;
		color: #fff;
		border-bottom: 1px solid #bbb;
		z-index: 100;
		position: relative;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		margin: 0 35px;
	}

	.rowBlock {
		position: relative;
		display: block;
		height: 25px;
		width: 25px;
	}

	.logo {
		position: absolute;
		width: 40px;
		height: 40px;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
	}

	.logo a:hover {
		color: #fff;
	}

	.red {
		color: #f00;
	}

	.navigationBlock {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0 auto;
	}

	.navigationButton {
		margin-right: 50px;
	}

	.space {
		width: 200px;
	}

	.menu {
		position: absolute;
		right: 30px;
		display: none;
		margin-top: 2px;
	}

	.menuIco {
		position: relative;
		width: 22px;
		height: 20px;
	}

	.menuIco span{
		display: block;
		position: absolute;
		width: 100%;
		height: 3px;
		background-color: #fff;
		left: 0;
		border-radius: 3px;
	}

	.menuIco:active span{
		background-color: #f00;
	}

	.menuIco span:nth-child(1) {
	    top: 0;
	}

	.menuIco span:nth-child(2) {
	    top: 50%;
	    transform: translateY(-50%);
	}

	.menuIco span:nth-child(3) {
	    bottom: 0;
	}

	.startPage {
		height: 100vh;
	}

	.backImg {
		width: 80%;
		position: absolute;
		z-index: 5;
	}

	.backImgMobile {
		display: none;
	}

	.doBlock {
		position: absolute;
		width: 800px;
		height: 100vh;
		right: 0;
		z-index: 10;
	}

	.headText {
		font-size: 2.5em;
		margin: 80px 0 20px 0;
		text-transform: uppercase;
	}

	.navigation {
		display: flex;
		flex-wrap: wrap;
		margin-top: 80px;
	}

	.goToButton {
		position: relative;
		display: block;
		margin-right: auto;
		width:200px;
		text-align: center;
		z-index: 20;
	}

	.radius {
		position: relative;
		border-radius: 25px;
		transform: translateY(0%);
		transition: 0.3s;
		z-index: 15;
	}

	.hoverGo {
		position: absolute;
		width: 100%;
		z-index: 20;
		transition: 0.3s;
	}

	.hoverGoText {
		position: absolute;
		width: 100%;
		left: 50%;
		transform: translate(-50%, 302px);
		text-align: center;
		padding: 15px 0;
		background-color: #000;
		color: #fff;
		border-radius: 0 0 25px 25px;
		border-bottom: 2px solid #d00;
		z-index: 20;
	}

	.hoverGo:hover {
		transform: translateY(-40px);
	}

	.senterText {
		text-align: center;
		margin: 100px 200px;
	}

	.mobile-menu {
		background-color: #000;
		position: fixed;
		/*display: none;*/
		width: 400px;
		height: 100vh;
		z-index: 200;
		border-right: 1px solid #555;
		transform: translateX(-100%);
		transition: 0.5s;
	}

	.mobile-menu .row {
		position: relative;
		top: 60px;
	}

	.mobile-menu .logo {
		font-size: 21px;
		position: absolute;
		left: 10px;
	}

	.quitMenu {
		width: 30px;
		height: 30px;
		position: absolute;
		right: 10px;
	}

	.closeButton {
		width: 30px;          /* Ширина кнопки */
	    height: 30px;         /* Высота кнопки */
	    background: transparent; /* Прозрачная кнопка */
	    position: relative;   /* Необходим относительное позиционирование */
	    cursor: pointer;      /* Изменяем курсор на руку */
	}

	.closeButton span {
		position: absolute;
		top: 50%;
		width: 30px;
		height: 3px;
		background-color: #fff;
		border-radius: 3px;
	}

	.closeButton span:nth-child(1) {
		transform: rotate(45deg);
	}

	.closeButton span:nth-child(2) {
		transform: rotate(-45deg);
	}

	.mobile-menu .navigationBlock {
		display: block;
		font-size: 26px;
		margin: 150px 60px;
	}

	.mobile-menu .navigationButton {
		padding: 10px;
		text-align: center;
		border: 3px solid #f00;
		border-left: none;
		border-radius: 7px 20px 20px 7px;
		margin-bottom: 25px;
	}

	.mobile-menu .active {
		border-color: #fff;
	}

	.mobile-menu a:hover {
		color: #fff;
	}

@media (max-width: 1700px) {

	.doBlock {
		width: 700px;
	}
}

@media (max-width: 1500px) {

	.doBlock {
		width: 600px;
	}

	.goToButton {
		width: 150px;
	}

	.hoverGoText {
		transform: translate(-50%, 225px);
	}
}

@media (max-width: 1150px) {

	body {
		font-size: 15px;
	}

	.row {
		font-size: 21px;
	}

	.menu {
		display: block;
	}

	.navigationBlock {
		display: none;
	}

	.backImg {
		display: none;
	}

	.backImgMobile {
		display: block;
		width: 100%;
	}

	.doBlock {
		width: 100%;
		position: relative;
	}

	.info {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		text-align: center;
		min-width: 400px;
	}

	#infoButton {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		top: 260px;
	}

	.navigationContainer {
		position: absolute;
		width: 100%;
		top: 440px;
	}

	.navigation {
		width: 100%;
		margin: auto;
	}

	.goToButton {
		position: relative;
		display: block;
		margin: auto;
		width: 200px;
		text-align: center;
	}

	.hoverGo {
		position: relative;
	}

	.radius:hover {
		transform: none;
	}

	.hoverGoText {
		transform: translate(-50%, 300px);
		font-size: 21px;
	}

	.senterText {
		margin: 80px 120px;
	}
}

@media (max-width: 720px) {

	body {
		font-size: 13px;
	}

	.menu {
		display: block;
	}

	.navigationBlock {
		display: none;
	}

	.backImg {
		display: none;
	}

	.backImgMobile {
		display: block;
		width: 100%;
	}

	.doBlock {
		width: 100%;
		position: relative;
	}

	.info {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		text-align: center;
	}

	#infoButton {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		top: 200px;
	}

	.navigationContainer {
		position: absolute;
		width: 100%;
		top: 370px;
	}

	.navigation {
		width: 100%;
		margin: auto;
	}

	.goToButton {
		position: relative;
		display: block;
		margin: auto;
		width: 150px;
		text-align: center;
	}

	.hoverGo {
		position: relative;
	}

	.radius:hover {
		transform: none;
	}

	.hoverGoText {
		transform: translate(-50%, 225px);
		font-size: 19px;
	}

	.senterText {
		margin: 60px 70px;
	}
}

@media (max-width: 550px) {

	body {
		font-size: 11px;
	}

	button {
		font-size: 10px;
		padding: 10px;
	}

	.menu {
		display: block;
	}

	.navigationBlock {
		display: none;
	}

	.backImg {
		display: none;
	}

	.backImgMobile {
		display: block;
		width: 100%;
	}

	.doBlock {
		width: 100%;
		position: relative;
	}

	.info {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		text-align: center;
		min-width: 300px;
	}

	#infoButton {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		top: 180px;
	}

	.navigationContainer {
		position: absolute;
		width: 100%;
		top: 320px;
	}

	.navigation {
		width: 100%;
		margin: auto;
	}

	.goToButton {
		position: relative;
		display: block;
		margin: auto;
		width: 120px;
		text-align: center;
	}

	.hoverGo {
		position: relative;
	}

	.radius:hover {
		transform: none;
	}

	.hoverGoText {
		transform: translate(-50%, 180px);
		font-size: 17px;
	}

	.senterText {
		margin: 40px 40px;
	}
}


