body {
	margin: 0;
	background-color: #000;
	font-family: 'Russo One', Calibri;
	color: #fff;
	font-size: 21px;
}

img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #fff;
	transition: 0.3s;
}

a:hover {
	color: #f00;
}

button {
	padding: 13px 20px;
	border: 3px solid #f00;
	background-color: #000;
	border-radius: 10px;
	color: #fff;
	font-family: 'Russo One', Calibri;
	font-size: 15px;
	margin: 40px 0;
	text-transform: uppercase;
}

button:hover {
	background-color: #f00;
}



	.centerContainer {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
	}

	.container {
		width: 100%;
		border-bottom: 1px solid #333;
	}

    .active {
		color: #f00;
	}

	.head {
		width: 100%;
		padding: 25px 0;
		background-color: #000;
		color: #fff;
		border-bottom: 1px solid #bbb;
	}

	.row {
		display: flex;
		flex-wrap: wrap;
		max-width: 100%;
		margin: 0 35px;
	}

	.logo {
		display: block;
		max-width: 100px;
	}

	.logo a:hover {
		color: #fff;
	}

	.red {
		color: #f00;
	}

	.navigationBlock {
		display: flex;
		flex-wrap: wrap;
		list-style: none;
		padding: 0;
		margin: 0 auto;
	}

	.navigationButton {
		margin-right: 50px;
	}

	.space {
		width: 200px;
	}

	.menu {
		position: absolute;
		right: 30px;
		display: none;
	}

	.startPage {
		height: 100vh;
	}

	.backImg {
		width: 80%;
		position: absolute;
		z-index: 5;
	}

	.backImgMobile {
		display: none;
	}

	.doBlock {
		position: absolute;
		width: 800px;
		height: 100vh;
		right: 0;
		z-index: 10;
	}

	.headText {
		font-size: 2.5em;
		margin: 80px 0 20px 0;
		text-transform: uppercase;
	}

	.navigation {
		display: flex;
		flex-wrap: wrap;
		margin-top: 80px;
	}

	.goToButton {
		position: relative;
		display: block;
		margin-right: auto;
		width:200px;
		text-align: center;
	}

	.radius {
		position: relative;
		border-radius: 20px;
		transform: translateY(0%);
		transition: 0.3s;
	}

	.hoverGo {
		position: absolute;
		width: 100%;
	}

	.radius:hover {
		transform: translateY(40px);
	}

	.senterText {
		text-align: center;
		margin: 100px 200px;
	}

@media (max-width: 1700px) {

	.doBlock {
		width: 700px;
	}
}

@media (max-width: 1500px) {

	.doBlock {
		width: 600px;
	}

	.goToButton {
		width: 150px;
	}
}

@media (max-width: 1150px) {
	body {
		font-size: 15px;
	}

	.menu {
		display: block;
	}

	.navigationBlock {
		display: none;
	}

	.backImg {
		display: none;
	}

	.backImgMobile {
		display: block;
		width: 100%;
	}

	.doBlock {
		width: 100%;
		position: relative;
	}

	.info {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		text-align: center;
		min-width: 400px;
	}

	#infoButton {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		top: 260px;
	}

	.navigationContainer {
		position: absolute;
		width: 100%;
		top: 440px;
	}

	.navigation {
		width: 100%;
		margin: auto;
	}

	.goToButton {
		position: relative;
		display: block;
		margin: auto;
		width: 200px;
		text-align: center;
	}

	.hoverGo {
		position: relative;
	}

	.radius:hover {
		transform: none;
	}

	.senterText {
		margin: 80px 120px;
	}
}

@media (max-width: 720px) {

	body {
		font-size: 13px;
	}

	.menu {
		display: block;
	}

	.navigationBlock {
		display: none;
	}

	.backImg {
		display: none;
	}

	.backImgMobile {
		display: block;
		width: 100%;
	}

	.doBlock {
		width: 100%;
		position: relative;
	}

	.info {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		text-align: center;
	}

	#infoButton {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		top: 200px;
	}

	.navigationContainer {
		position: absolute;
		width: 100%;
		top: 370px;
	}

	.navigation {
		width: 100%;
		margin: auto;
	}

	.goToButton {
		position: relative;
		display: block;
		margin: auto;
		width: 150px;
		text-align: center;
	}

	.hoverGo {
		position: relative;
	}

	.radius:hover {
		transform: none;
	}

	.senterText {
		margin: 60px 70px;
	}
}

@media (max-width: 550px) {

	body {
		font-size: 11px;
	}

	button {
		font-size: 10px;
		padding: 10px;
	}

	.menu {
		display: block;
	}

	.navigationBlock {
		display: none;
	}

	.backImg {
		display: none;
	}

	.backImgMobile {
		display: block;
		width: 100%;
	}

	.doBlock {
		width: 100%;
		position: relative;
	}

	.info {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		text-align: center;
		min-width: 300px;
	}

	#infoButton {
		position: absolute;
		transform: translateX(-50%);
		left: 50%;
		top: 180px;
	}

	.navigationContainer {
		position: absolute;
		width: 100%;
		top: 320px;
	}

	.navigation {
		width: 100%;
		margin: auto;
	}

	.goToButton {
		position: relative;
		display: block;
		margin: auto;
		width: 120px;
		text-align: center;
	}

	.hoverGo {
		position: relative;
	}

	.radius:hover {
		transform: none;
	}

	.senterText {
		margin: 40px 40px;
	}
}
